.shadow {
	box-shadow: 0px 10px 25px 0px #555;
	min-height: 260px;
	border-radius: 3%;
	transition: all 1s;
	background-color: white;
}

.shadow:hover {
	transform: scale(1.06);
	transition: all 1s;
}

.margin-top {
	margin-top: 12rem;
}

.height {
	height: 6rem;
}

/* champs epreuves et resultats dans candidat.jsp */
.margin {
	margin-top: 14rem;
}

.categorie {
	transition: all 1s;	
}

.categorie:hover {
	transform: scale(1.05);
	transition: all 1s;
}

footer {
	background-color: #4c627b;
	height: 7rem;
	display: flex;
	align-items: center;
  	justify-content: center;
}
 /* TEXTE EN BLANC */
#footer {
	color: white;
	vertical-align: middle;
}

.police {
	font-family: 'Alfa Slab One', cursive;
}
